body {
    color: #ffffff;
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.big_img{
    border-radius: 10px;
    border-color: #000;

}

.card{
    background-color: #000;
    border-radius: 5rem;

    border: 1px solid rgba(0, 0, 0, 0.125);

}
.card-header {
    padding: 0.5rem 0.5rem;
    margin-bottom: 0;
    background-color: #235892;
    border-radius: 2rem;
    border: 5px solid rgba(0, 0, 0, 0.125);
}
.card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0.5rem;
    background-color: #73A3EF;
    border: 3px solid rgba(0, 0, 0, 0.125);
}
.navbar{
    background-color: #183B62;
    width: 100%;
}

footer{
    color: #ffffff;
    background-color: #183B62;
}

.pic {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 1s ease;
    backface-visibility: hidden;
}

.middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.top {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.pic:hover .image {
    opacity: 0.3;
}

.pic:hover .middle {
    opacity: 1;
}
.pic:hover .middle2 {
    opacity: 1;
}
.pic:hover .top {
    opacity: 1;
}

.text {
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 10%;
}
.text2 {
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 10%;

}
.text3 {
    background-color: #6bd90f;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 10%;

}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #19406B;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

.comments {
background-color: #19406B;
}
